ul,
ol {
  list-style-type: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.page-header {
  border: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.page-header-container {
  display: flex;
  justify-content: space-between;
}
.heder-logo {
  margin-right: 76px;
  padding-top: 24px;
  padding-bottom: 24px;
}
.page-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-studio {
  color: #2e2f42;
}
.page-navigation {
  display: flex;
  align-items: center;
}
.page-menu {
  display: flex;
  gap: 40px;
}
.nav-menu {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-menu:hover,
:focus {
  color: #404bbf;
}
.nav-studio {
  position: relative;
  color: #404bbf;
}
.nav-studio::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background: #404bbf;
}
.contact {
  font-style: normal;
}
.list-contact {
  display: flex;
  gap: 40px;
}
.nav-contact {
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-contact:hover,
:focus {
  color: #404bbf;
}

.page-introduction {
  background: #2e2f42;
  margin-left: auto;
  margin-right: auto;
  padding: 188px 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1440px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/fon.jpg);
}
.container-hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 48px;
}
.text-introduction {
  max-width: 496px;
  font-size: 56px;
  line-height: 60px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #fff;
  margin: 0 auto;
  display: block;
  text-align: center;
}
.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  margin: auto 0;
  padding: 16px 32px;
  display: block;
  min-width: 169px;
  border-radius: 4px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
:focus {
  background-color: #404bbf;
}
/* advantages */
.text-introduction {
  text-align: center;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.our-advantages {
  padding: 120px 0;
}
.list-benefits {
  display: flex;
  gap: 24px;
}
.list-advantages {
  width: calc((100% - 72px) / 4);
}
.icon-conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background: #f4f4fd;
  margin-bottom: 8px;
}
.advantages-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.text-advantages {
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* team */
.team {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.title-team {
  font-size: 36px;
  line-height: 40px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.list-team {
  display: flex;
  gap: 24px;
}
.item-team {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.name-man {
  padding: 32px 0;
}
.name-workman {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.position {
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
  padding-bottom: 8px;
}
.list-team-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.link-team-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  line-height: 1;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-team-icon:focus,
.link-team-icon:hover {
  background-color: #404bbf;
}
.item-team-icon {
  height: 40px;
  width: 40px;
}
.foto-icon {
  fill: #f4f4fd;
}
.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}
.title-portfolio {
  font-size: 36px;
  line-height: 40px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.list-portfolio {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.item-portfolio {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item-portfolio:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.img-programs {
  position: relative;
  overflow: hidden;
}
.text-programs {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  overflow: auto;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item-portfolio:hover .text-programs {
  transform: translateY(0%);
}
.program-pornfolio {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.name-portfolio {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.text-portfolio {
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.text-portfolio:hover {
  transform: translateY(0%);
}
.text-logo {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
.additional-information {
  background: #2e2f42;
  padding: 100px 0;
  margin-left: auto;
  margin-right: auto;
}
/* footer */
.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
  max-width: 1440px;
}
.logo-studios {
  color: #f4f4fd;
}
.container-footer {
  display: flex;
  align-items: baseline;
}
.container-logo-footer {
  margin-right: 120px;
}
.name-icon-footer {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.list-icon-footer {
  display: flex;
  gap: 16px;
}
.paragraph-icon-footer {
  width: 40px;
  height: 40px;
}
.footer-icon {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon:focus,
.footer-icon:hover {
  background-color: #31d0aa;
}
.conteiner-subscribe {
  margin-left: 80px;
  align-items: center;
  justify-content: center;
}
.text-subscribe {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.subscribe-form {
  display: flex;
  gap: 24px;
}
.subscribe-email {
  display: flex;
}
.subscribe-form-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgb(0, 0, 0, 0.15);
  border-radius: 4px;
}
.subscribe-form-input::placeholder {
  color: #ffffff;
}
.subscribe-form-submit {
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 165px;
  height: 40px;
  border-radius: 4px;
  padding: 8px 24px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  background: #4d5ae5;
  border: none;
}
.subscribe-form-submit:focus,
.subscribe-form-submit:hover {
  background-color: #31d0aa;
}
.foto-icon-submit {
  margin-left: 16px;
}

/* backdrop */
.modal-overlay {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
}
.modal {
  padding: 72px 24px 24px 24px;
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background-color: #fcfcfc;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-close {
  display: flex;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 24px;
  right: 24px;
  padding: 0;
  border-color: transparent;
  stroke-width: 1px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-close:hover,
.icon-close:focus {
  background-color: #404bbf;
  border: none;
}
.foto-icon-close {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-close:hover > .foto-icon-close {
  fill: #ffffff;
}
.icon-close:focus > .foto-icon-close {
  fill: #ffffff;
}
.data-description {
  font-weight: 500;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  max-width: 360px;
  margin-bottom: 16px;
  line-height: 1.5;
}
.field-data {
  margin-bottom: 8px;
}
.label-form {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-top: 4px;
  margin-bottom: 4px;
}
.input-data {
  color: rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
}
.input-data:focus {
  border: 1px solid #4d5ae5;
  outline: transparent;
}
.input-data:focus + .icon-name {
  fill: #4d5ae5;
}
.icon-name {
  align-items: center;
  justify-content: center;
  fill: #2e2f42;
  width: 18px;
  height: 24px;
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.conteiner-icon-name {
  position: relative;
}
.coment-conteiner {
  margin-bottom: 16px;
}
.messeng-form {
  letter-spacing: 0.04em;
  line-height: 1.17;
  font-size: 12px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  background-color: transparent;
  resize: none;
  padding: 8px 16px;
  color: rgba(46, 47, 66, 0.4);
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.messeng-form:focus {
  border: 1px solid #4d5ae5;
  outline: transparent;
  transition: border-clor 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.messeng-form::placeholder {
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

/* checkbox */
.checkbox-form {
  margin-bottom: 24px;
}
.input-checkbox:checked + .checkbox-privacy > .costum-checkbox {
  border: none;
  background-color: #404bbf;
  fill: #ffffff;
}
.input-checkbox:focus + .checkbox-privacy > .costum-checkbox {
  fill: #ffffff;
}

.checkbox-privacy {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.costum-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 16px;
  height: 16px;
  cursor: pointer;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.privacy-policy-link {
  text-decoration: underline;
  color: #4d5ae5;
  background-color: #fff;
}
.send-buttom {
  height: 56px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  background: #4d5ae5;
  margin: 0 auto;
  padding: 16px 32px;
  display: block;
  min-width: 169px;
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.send-buttom:focus,
.send-buttom:hover {
  background-color: #404bbf;
}
