ul,
ol {
  list-style-type: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* conteiner */
.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}
/* HEDER */
.page-header {
  border: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.page-header-container {
  display: flex;
  justify-content: space-between;
}
.page-menu,
.contact {
  display: none;
}
.btn-open {
  border: none;
  background-color: transparent;
  padding: 0;
}
.page-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-studio {
  color: #2e2f42;
}
.heder-logo {
  padding: 16px 0;
  display: block;
}
@media screen and (min-width: 768px) {
  .btn-open {
    display: none;
  }
  .page-menu {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .heder-logo {
    padding: 24px 0;
    display: block;
    margin-right: 120px;
  }
  .page-navigation {
    display: flex;
    align-items: center;
  }
  .nav-menu {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-menu:hover,
  .nav-menu:focus {
    color: #404bbf;
  }
  .nav-studio {
    position: relative;
    color: #404bbf;
  }
  .nav-studio::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background: #404bbf;
  }
  .contact {
    display: block;
    font-style: normal;
    padding: 16px 0;
  }
  .contact-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .nav-contact {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-contact:hover,
  .nav-contact:focus,
  .nav-link.current {
    color: #404bbf;
  }
}
@media screen and (min-width: 1158px) {
  .heder-logo {
    margin-right: 76px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .contact {
    padding: 0;
  }
  .contact-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
  .nav-contact {
    font-size: 16px;
    line-height: 24px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-contact:hover,
  .nav-contact:focus {
    color: #404bbf;
  }
}
/* mobil-menu */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu-container {
  max-width: 320px;
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.burger-icon-close {
  position: absolute;
  border-radius: 100%;
  background-color: transparent;
  padding: 0;
  display: flex;
  width: 24px;
  height: 24px;
  top: 24px;
  right: 24px;
  fill: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  stroke-width: 1px;
  stroke: #2e2f42;
  justify-content: center;
  align-items: center;
}
.foto-burger-close {
  fill: #2e2f42;
}
.mobile-menu-nav {
  margin-bottom: auto;
}
.burger-menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.burger-nav-menu {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.burger-nav-studio {
  color: #404bbf;
}
.burger-contact-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 48px;
}
.burger-nav-contact {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
}
.bufger-tel-contact {
  color: #4d5ae5;
}

.list-burger-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 40px;
}
.link-burger-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  line-height: 1;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item-burger-icon {
  height: 40px;
  width: 40px;
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
@media screen and (min-width: 1158px) {
  .mobile-menu {
    display: none;
  }
}

/* HERO */
.page-introduction {
  background: #2e2f42;
  margin-left: auto;
  margin-right: auto;
  padding: 72px 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 320px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/fon.jpg), url(../images/Dark-bg.jpg);
}
.container-hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 72px;
}
.text-introduction {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin: 0 auto;
  display: block;
  text-align: center;
  max-width: 216px;
}
.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  margin: auto 0;
  background: #4d5ae5;
  border: none;
  display: block;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .page-introduction {
    padding: 112px 0;
    max-width: 768px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/fon.jpg), url(../images/Dark-bg.jpg);
  }
  .container-hero {
    gap: 36px;
  }
  .text-introduction {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 560px;
  }
}
@media screen and (min-width: 1158px) {
  .page-introduction {
    padding: 188px 0;
    max-width: 1440px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/fon.jpg), url(../images/Dark-bg.jpg);
  }
  .container-hero {
    gap: 48px;
  }
  .text-introduction {
    max-width: 496px;
    font-size: 56px;
    line-height: 60px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
    margin: 0 auto;
    display: block;
    text-align: center;
  }
  .button {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
    margin: auto 0;
    padding: 16px 32px;
    display: block;
    min-width: 169px;
    border-radius: 4px;
    height: 56px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
/* advantages */
.text-introduction {
  text-align: center;
}
.our-advantages {
  padding: 96px 0;
}
.list-benefits {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 72px;
}
.icon-conteiner {
  display: none;
}
.advantages-name {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.text-advantages {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
@media screen and (min-width: 768px) {
  .our-advantages {
    padding: 96px 0;
  }
  .list-benefits {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }
  .list-advantages {
    width: calc((100% - 48px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .text-introduction {
    text-align: center;
  }
  .icon-conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    margin-bottom: 8px;
  }
  .our-advantages {
    padding: 120px 0;
  }
  .list-benefits {
    flex-wrap: nowrap;
    gap: 24px;
    align-items: normal;
  }
  .list-advantages {
    width: calc((100% - 72px) / 4);
  }
  .advantages-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
  }
  .text-advantages {
    font-size: 16px;
    line-height: 24px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
}
/* team */
.team {
  background-color: #f4f4fd;
  padding: 96px 0;
}
.title-team {
  font-size: 36px;
  line-height: 40px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.list-team {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 72px;
}
.item-team {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.name-man {
  padding: 32px 0;
}
.name-workman {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.position {
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
  padding-bottom: 8px;
}
.list-team-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.link-team-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  line-height: 1;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-team-icon:focus,
.link-team-icon:hover {
  background-color: #404bbf;
}
.item-team-icon {
  height: 40px;
  width: 40px;
}
.foto-icon {
  fill: #f4f4fd;
}
@media screen and (min-width: 768px) {
  .list-team {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px;
  }
}
.item-team {
  background-color: #ffffff;
  width: calc((100% - 72px) /);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
