ul,
ol {
  list-style-type: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
/* mobil menu */
.mobil-menu {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background: #fff;
  z-index: 99999;
  overflow-y: auto;
  opacity: 0;
  visibility: hidden;
}
.mobil-menu .is-open {
  opacity: 1;
  visibility: visible;
}
.conteiner-menu-mobil {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  padding-right: 24px;
}
.burger-menu {
  position: absolute;
  line-height: 0;
  width: 24px;
  height: 24px;
  top: 24px;
  right: 24px;
  padding: 0;
  stroke-width: 1px;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: #fff;
  border: 1px solid rgba(151, 148, 148, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.burger-menu:hover,
.burger-menu:focus {
  background-color: #404bbf;
  border: none;
}
.burger-menu-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.burger-menu:hover > .burger-menu-icon {
  fill: #ffffff;
}
.burger-menu:focus > .burger-menu-icon {
  fill: #ffffff;
}
.mobil-menu-nav {
  padding-bottom: 128px;
}
.list-mobil-item {
  padding-bottom: 40px;
}
.mobil-item-link {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.contact {
  font-style: normal;
}
.list-contact {
  display: flex;
  gap: 40px;
}

.contact-mobil {
  padding-bottom: 24px;
}
.contact-wire-mobil {
  padding-bottom: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}
.contact-wire-mobil :hover,
:focus {
  color: #4d5ae5;
}
.list-icon-mobil {
  display: flex;
  gap: 40px;
}
.paragraph-icon-mobil {
  width: 40px;
  height: 40px;
}
.mobil-icon {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobil-icon:focus,
.mobil-icon:hover {
  background-color: #31d0aa;
}

/* HEDER */
.page-header {
  border: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.page-header-container {
  display: flex;
  align-items: center;
}
.page-menu {
  display: none;
}
.contact {
  display: none;
}
.page-logo {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding-top: 16px;
  padding-bottom: 16px;
}
.logo-studio {
  color: #2e2f42;
}
.page-navigation {
  margin-right: auto;
}
.modal-button-open {
  border: none;
  padding: o;
  background-color: transparent;
  cursor: pointer;
}
.icon-burger {
  display: flex;
  fill: #2f2f37;
}
@media screen and (min-width: 768px) {
  .modal-button-open {
    display: none;
  }
  .page-navigation {
    display: flex;
    align-items: center;
  }

  .page-logo {
    margin-right: 120px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .menu-titel {
    display: flex;
    gap: 40px;
  }
  .nav-menu {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-menu:hover,
  :focus {
    color: #404bbf;
  }
  .nav-studio {
    position: relative;
    color: #404bbf;
  }
  .nav-studio::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background: #404bbf;
  }
  .contact {
    display: block;
    font-style: normal;
  }
  .list-contact {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .nav-contact {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-contact:hover,
  :focus {
    color: #404bbf;
  }
}
@media screen and (min-width: 1158px) {
  .page-logo {
    margin-right: 76px;
  }
  .list-contact {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
  .nav-contact {
    font-size: 16px;
    line-height: 24px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
/* hero */
.page-introduction {
  background: #2e2f42;
  margin-left: auto;
  margin-right: auto;
  padding: 188px 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/fon.jpg), url(../images/hero\ 2px.jpg);
}

.container-hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 72px;
}
.text-introduction {
  max-width: 216px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin: 0 auto;
  display: block;
  text-align: center;
}
.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  margin: auto 0;
  padding: 16px 32px;
  display: block;
  min-width: 169px;
  border-radius: 4px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
:focus {
  background-color: #404bbf;
}
@media screen and (min-width: 768px) {
  .text-introduction {
    max-width: 216px;
    font-size: 56px;
    line-height: 1.07;
  }
}
@media screen and (min-width: 1158px) {
  .page-introduction {
    max-width: 1440px;
  }
  .container-hero {
    gap: 48px;
  }
  .text-introduction {
    max-width: 496px;
    font-size: 56px;
    line-height: 60px;
    line-height: 1.07;
  }
}
/* advantages */
.icon-conteiner {
  display: none;
}

.our-advantages {
  padding: 96px 0;
}
.advantages-name {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.text-advantages {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.list-advantages {
  margin-bottom: 72px;
}
@media screen and (min-width: 768px) {
  .our-advantages {
    align-items: center;
    justify-content: center;
  }
  .list-benefits {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    max-width: 736px;
  }
  .list-advantages {
    max-width: 365px;
  }
  .icon-conteiner {
    display: none;
  }
}
@media screen and (min-width: 1158px) {
  .text-introduction {
    text-align: center;
  }
  .our-advantages {
    padding: 120px 0;
  }
  .list-benefits {
    display: flex;
    gap: 24px;
    max-width: 1158px;
  }
  .list-advantages {
    width: calc((100% - 72px) / 4);
  }
  .icon-conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    margin-bottom: 8px;
  }
  .advantages-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
  }
  .text-advantages {
    font-size: 16px;
    padding-right: 24px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
}
